<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/plain.css">
    <title>Plain | Rikamo</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <h1 id="logo">Rikamo</h1>
            <DIv id=header-links>
                <a href="#" class="header-link">License</a>
                <a href="#" class="header-link">header link two</a>
                <a href="#" class="header-link">header link three</a>
            </DIv>
        </div>

        <div id="main">
            
        </div>

        <div class="footer">
            <p id="copyright">Copyright © Rikamo1 2022</p>
            <a id="license-link" href="#logo">License</a>
        </div>
    </div>
</body>
</html>